.examples {
  width: 100%;
  padding: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.examples-options {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.examples-option {
  margin: 0 5px;
}

.examples-option_link {
  color: #FFE9C9;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 15px;
  display: block;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-color: rgba(255, 148, 197, .1);
}

.examples-option_link.is-current {
  color: #FFF6E8;
  background-color: rgba(41, 2, 23, 0.3);
}
