.hire_lesha-avatar {
  border-radius: 50%;
  width: 5rem;
}

.hire_lesha-cta {
  margin-top: 30px;
  display: block;
  background: #8C1B54;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  border-radius: 3px;
  font-size: 16px;
  padding: 15px
}
