.Options {
  list-style: none;
  display: flex;
  justify-content: left;
  margin: 0 !important;
}

.Option {
  list-style: none;
  margin-right: 10px;
}

.OptionLink {
  color: #4A3142;
  text-decoration: none;
  font-size: 13px;
  padding: 4px 8px;
  display: block;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-color: #FAF6F0;
}

.OptionLink-isCurrent {
  color: #000;
  background-color: #E8D6E3;
}
