.Pre {
  overflow-x: auto;
  border: 1px solid #b9a2b2;
  background-color: #fffffe;
  padding: 4px 8px;
}

.Code {
  display: block;
  color: #5d583b;
  background-color: #fffffe;
  font: 13px Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.Code::before {
  display: none;
}

.Code::after {
  display: none;
}
