.Container {
  background: #f5d958;
  padding: 0.25rem;
}

.Block {
  background: #fcf4ca;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: black;
  transition: background 150ms ease-out;
}

.Block-clickable:hover {
  background: #ffefa5;
}

.Company {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.Company > *:not(:last-child) {
  margin-right: 1rem;
}

.Location {
  color: #8f8a72;
}

.CompanyName {
  color: #2c5bf7;
  font-weight: 600;
}

.Logo {
  width: 48px;
  flex-shrink: 0;
}

.Header {
  font-size: 1.05rem;
  line-height: 1.4;
  font-weight: 600;
}

.Buttons {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e3dbb6;
  padding: 0.5rem 1rem;
}

.Tags {
  display: flex;
}

.Tags > *:not(:last-child) {
  margin-right: 0.5rem;
}

.Tag {
  background: #e3dbb6;
  color: #444237;
  padding: 0.25rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.NextButton {
  display: flex;
  background: black;
  color: white;
  border: 0;
  padding: 0.125rem 0.5rem;
  cursor: pointer;
  align-items: center;
}

.NextButton:hover {
  color: red;
}

.NextButton > *:not(:last-child) {
  margin-right: 0.25rem;
}

.NextIcon {
  width: 1rem;
}

.Footer {
  color: #837430;
  font-weight: 600;
  text-align: center;
  display: block;
  padding: 0.5rem 0;
  font-size: 0.8rem;
}

.Link {
  color: #837430;
  text-decoration: none;
}

.Link:hover {
  color: black;
  transition: color 150ms ease-out;
}
