<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>date-fns - modern JavaScript date utility library</title>
    <link rel='shortcut icon' href='<%= staticPath('/img/favicon.png') %>' />
  </head>
  <body>
    <div id='canvas'></div>
    <script src='<%= entryPath('app') %>'></script>
  </body>
</html>
