.docs_finder {
  background: #fffbf5;
  width: 25rem;
  position: fixed;
  top: 2rem;
  bottom: 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e6e0e6;
}

.docs_finder-logo_image {
  cursor: pointer;
  height: 30px;
  margin-right: 10px;
}

.docs_finder-search {
  color: #770c56;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #faf6f0;
  flex-shrink: 0;
  border-bottom: 1px solid #e6e0e6;
  word-break: break-all;
  position: relative;
}

.docs_finder-search_field {
  padding: 0.75rem 1rem;
  border: 0;
  width: 100%;
  font-size: 1rem;
}

.docs_finder-search_cancel {
  height: 16px;
  width: 16px;
  top: 50%;
  right: 9px;
  margin-top: -9px;
  cursor: pointer;
  background-image: url('./img/cancel.svg');
  background-size: 16px;
  position: absolute;
  right: 1.5rem;
}

.docs_finder-categories {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}

.docs_finder-category:first-child {
  margin-top: 0;
}

.docs_finder-category_header {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1;
  color: #4a3142;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e6e0e6;
}

.docs_finder-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e6e0e6;
  text-decoration: none;
}

.docs_finder-item.is-current,
.docs_finder-item.is-current:hover {
  background-color: #fff0f3;
}

.docs_finder-item:hover {
  background: #fdf6f9;
}

.docs_finder-item.is-jsdoc .docs_finder-item_header {
  font-family: monospace;
}

.docs_finder-item_header {
  font-size: 1rem;
  margin-bottom: 0.4px;
  word-break: break-all;
  color: #4c193c;
}

.docs_finder-item_text {
  font-weight: 400;
  font-size: 0.9rem;
  color: #7b6d77;
}

.docs_finder-item_icon {
  background-image: url('./img/icon.svg');
  background-size: 16px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-left: 10px;
}

.docs_finder-no_results {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.docs_finder-no_results_text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #7b6d77;
}
