@import 'reset.css';

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background: #E6E0E6;
}

::-webkit-scrollbar-thumb {
    background: #770C56;
    border-radius: 5px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, input, select, textarea, button {
  font: 14px Helvetica, arial, freesans, clean, sans-serif;
  color: var(--textColor);
  line-height: 1.4em;
}

strong {
  font-weight: 600;
}

code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: #FAF6F0;
  border-radius: 3px;
}

code:before, code:after {
  letter-spacing: -0.2em;
  content: "\00a0"
}

.ui {
  min-height: 100vh;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.ui.is-collapsed .ui-promo {
  margin-left: -66.6%;
}

.ui-promo,
.ui-features,
.ui-docs {
  flex-basis: 33.3%;
  display: flex;
}

.ui-promo {
  transition: margin 300ms;
}

.ui-features {
  border-right: 1px solid #E6E0E6;
}

.ui-docs {
  flex-shrink: 0;
}

.ui-doc {
  margin-right: -66.6%;
  flex-basis: 66.6%;
  border-left: 1px solid #E6E0E6;
  overflow: auto;
}
