.Navigation {
  margin: 0 -10px;
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .Navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.Link {
  color: white;
  margin: 5px 10px;
  text-decoration: none;
  opacity: 0.5;
}

.Icon {
  width: 16px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.Link:hover {
  opacity: 1;
}
