.Screen {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}

.NavBarContainer {
  flex: none;
  height: 2rem;
}

.Content {
  flex: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 0;
}

.FinderContainer {
  flex: none;
  width: 25rem;
}

.DocContainer {
  flex: auto;
  overflow-y: auto;
}

.Loading {
  padding: 30px;
}
