.docs {
  background: #fffbf5;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.docs-logo_image {
  cursor: pointer;
  height: 40px;
}

.docs-header {
  color: #770C56;
  font-weight: 600;
  font-size: 20px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79px;
  background-color: #FAF6F0;
}

.docs-search {
  margin: -6px 0;
}

.docs-search_field {
  padding: 5px 10px;
  border: 1px solid #E6E0E6;
  border-radius: 8px;
  width: 200px;
}

.docs-categories {
  border-top: 1px solid #E6E0E6;
}

.docs-category {
}

.docs-category:first-child {
  margin-top: 0;
}

.docs-category_header {
  font-weight: 600;
  font-size: 17px;
  color: #4A3142;
  padding: 15px 30px;
  border-bottom: 1px solid #E6E0E6;
}

.docs-function {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 10px 30px;
  border-bottom: 1px solid #E6E0E6;
  cursor: pointer;
}

.docs-function.is-current,
.docs-function.is-current:hover {
  background-color: #FFF0F3;
}

.docs-function:hover {
  background: #FDF6F9;
}

.docs-function_header {
  font-family: monospace;
  font-size: 18px;
  margin-bottom: 5px;
  color: #4C193C;
}

.docs-function_text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #7B6D77;
}

.docs-function_icon {
  background-image: url('./img/icon.svg');
  background-size: 16px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-left: 10px;
}

