.Subheader {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #4c193c;
  margin-bottom: 25px;
}

.List {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  margin-right: -20px;
}

.Item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 20px 0;
}

.ItemImageContainer {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ItemImageContainer-tier-silver {
  height: 120px;
  width: 120px;
}

.ItemImageContainer-tier-bronze {
  height: 80px;
  width: 80px;
}

.ItemImage {
  width: 100%;
}

.ItemImagePlaceholder {
  background-color: grey;
  height: 7rem;
  width: 7rem;
}

.ItemName {
  font-size: 14px;
  margin: 5px 0 5px 0;
}
