.new_banner {
  background: #f5d958;
  padding: 0.25rem;
}

.new_banner-job {
  background: #fcf4ca;
  padding: 1rem 1rem 0.5rem;
  text-decoration: none;
  display: block;
  color: black;
  transition: background 150ms ease-out;
}

.new_banner-job:hover {
  background: #ffefa5;
}

.new_banner-header {
  display: flex;
  align-items: center;
}

.new_banner-header > *:not(:last-child) {
  margin-right: 1rem;
}

.new_banner-location {
  color: #8f8a72;
}

.new_banner-company {
  color: #2c5bf7;
  font-weight: 600;
}

.new_banner-logo {
  width: 48px;
  flex-shrink: 0;
}

.new_banner-position {
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 600;
}

.new_banner-tags {
  display: flex;
}

.new_banner-tags > *:not(:last-child) {
  margin-right: 0.5rem;
}

.new_banner-tag {
  background: #e3dbb6;
  color: #444237;
  padding: 0.25rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.new_banner-tags_n_next {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e3dbb6;
  margin-top: 1rem;
  padding-top: 0.5rem;
}

.new_banner-next_button {
  display: flex;
  background: black;
  color: white;
  border: 0;
  padding: 0.125rem 0.5rem;
  cursor: pointer;
  align-items: center;
}

.new_banner-next_button&:hover {
  color: red;
}

.new_banner-next_button > *:not(:last-child) {
  margin-right: 0.25rem;
}

.new_banner-next_icon {
  width: 1rem;
}

.new_banner-link {
  color: #837430;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  display: block;
  padding: 0.5rem 0;
  font-size: 0.8rem;
}

.new_banner-link:hover {
  color: black;
  transition: color 150ms ease-out;
}
