.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Row:not(:last-child) {
  margin-bottom: 0.5rem;
}

.Row-isLicense {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.Container a {
  color: #a07d8f;
}
