@import 'reset.css';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, input, select, textarea, button {
  font: 14px Helvetica, arial, freesans, clean, sans-serif;
  color: var(--textColor);
  line-height: 1.4em;
}

strong {
  font-weight: 600;
}

code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: #FAF6F0;
  border-radius: 3px
}

code:before, code:after {
  letter-spacing: -0.2em;
  content: "\00a0"
}

.ui {
  display: flex;
  width: 100%;
}

.ui-promo,
.ui-features,
.ui-docs {
  display: flex;
}

.ui-features {
  border-right: 1px solid #E6E0E6;
  border-bottom: 1px solid #E6E0E6;
}

.ui-doc {
  border-left: 1px solid #E6E0E6;
  border-top: 1px solid #E6E0E6;
}

@media (max-width: 800px) {
  .ui {
    flex-direction: column;
    height: auto;
  }

  .ui.is-collapsed .ui-promo,
  .ui.is-collapsed .ui-features,
  .ui.is-collapsed .docs-categories,
  .ui.is-collapsed .docs-no_results,
  .ui.is-collapsed .docs-search {
    display: none;
  }

  .ui.not-collapsed .ui-doc {
    display: none;
  }
}

@media (min-width: 800px) {
  .ui {
    min-height: 100vh;
    overflow: hidden;
  }

  .ui-promo,
  .ui-features,
  .ui-docs,
  .ui-doc {
    height: 100vh;
    overflow-y: auto;
    flex-basis: 33.3%;
  }

  .ui-promo {
    transition: margin 300ms;
  }

  .ui.is-collapsed .ui-promo {
    margin-left: -66.6%;
  }

  .ui-doc {
    margin-right: -66.6%;
    flex-basis: 66.6%;
  }
}
