.navigation {
  margin: 0 -10px;
  font-size: 15px;
}

.navigation-link {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  opacity: .5;
}

.navigation-icon {
  width: 16px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.navigation-icon.is-gitter {
  top: 1px;
  width: 11px;
}

.navigation-link:hover {
  opacity: 1;
}
