.sponsorship-cta {
  margin-top: 30px;
  display: block;
  background: #8c1b54;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
  font-size: 16px;
  padding: 15px;
}

.sponsorship-list {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.sponsorship-item {
  height: 7rem;
}

.sponsorship-item img {
  height: 100%;
}
