.sponsorship-contributors {
  margin-top: 30px;
  display: block;
  background: transparent;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
  font-size: 16px;
  padding: 15px 30px;
  color: #8c1b54;
  border: 1px solid #8c1b54;
}

.sponsorship-cta {
  margin-top: 30px;
  display: block;
  background: #8c1b54;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
  font-size: 16px;
  padding: 15px 30px;
}

.sponsorship-subheader {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #4c193c;
  margin-bottom: 25px;
}

.sponsorship-list {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  margin-right: -20px;
}

.sponsorship-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 20px 0;
}

.sponsorship-item-image-container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sponsorship-item-image-container-silver {
  height: 120px;
  width: 120px;
}

.sponsorship-item-image-container-bronze {
  height: 80px;
  width: 80px;
}

.sponsorship-item-image {
  width: 100%;
}

.sponsorship-item-image-default {
  background-color: grey;
  height: 7rem;
  width: 7rem;
}

.sponsorship-item-name {
  font-size: 14px;
  margin: 5px 0 5px 0;
}

.sponsorship-actions {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}
