.sponsorship-letter {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #4C193C;
  max-width: 500px;
}

.sponsorship-cta {
  margin-top: 30px;
  display: block;
  background: #8C1B54;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  border-radius: 3px;
  font-size: 16px;
  padding: 15px
}
